name: Run Examples
permissions:
  contents: read

on:
  push:
    branches: 
      - "**"
  pull_request:
  workflow_dispatch:

jobs:
  run-examples:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0
          
      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Generate Proto Files
        run: uv run python generate_proto.py

      - name: Prepare Hiero Solo
        id: solo
        uses: hiero-ledger/hiero-solo-action@4d42a74e8e644a2753f3bb7a2afa429305375b14 #v0.15.0
        with:
          installMirrorNode: true
      - name: Run Examples
        env:
          OPERATOR_ID: ${{ steps.solo.outputs.accountId }}
          OPERATOR_KEY: ${{ steps.solo.outputs.privateKey }}
          CHAIN_ID: 012A
          NETWORK: solo
        shell: bash
        run: |
          set -euo pipefail
          export PYTHONPATH="$PWD"

          files=$(find examples -name "*.py" -type f ! -name "__init__.py")

          for file in $files; do
            echo -e "\n************ ${file} ************"

            # Convert path to module name
            module=$(realpath --relative-to="$PWD" "$file" | sed 's|/|.|g' | sed 's|.py$||')

            if ! output=$(uv run -m "$module" 2>&1); then
              echo -e "\n❌ Example failed: ${file}"
              echo "************ Error Output ************"
              echo "$output"
              echo "**************************************"
              exit 1
            fi

            echo "$output"
            echo "✅ Completed ${file} successfully."
          done
